/* Grid Item Styling */
.grid-item {
    background-color: #ecf0f1;
    overflow: hidden;
    position: relative;
    perspective: 1000px; /* Membuat elemen 3D */
    border-radius: 5px;
}

.grid-item .flip-container {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.grid-item .flip-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden; /* Menyembunyikan sisi belakang saat flipping */
}

.grid-item .flip-container img.back {
    transform: rotateX(180deg); /* Posisi sisi belakang */
}

/* Animasi Flip */
.grid-item.flipping .flip-container {
    transform: rotateX(180deg); /* Flip ke sisi belakang */
}
